@font-face {
  font-family: poppins;
  src: url(../Poppins/Poppins-Regular.ttf);
}
@font-face {
  font-family: poppins-light;
  src: url(../Poppins/Poppins-Light.ttf);
}

*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: poppins;
}


html{
  min-width: 100vw;
  min-height: 100vh;
  background: #56d;
  overflow-x: hidden;
}

body{
  width: 100vw;
  height: 100vh;
}

#root{
  max-width: 100vw;
  min-height: 100vh;
  background: #45eff4;
}

.App{
  width: 100vw;
  min-height: 100vh;
  background: #ffffff;
  display: flex;
  flex-direction: column;
}
/* navbar==== */
.navbar{
  width: 100%;
  display: flex;
  align-items: center;
  padding: 0 68px;
  justify-content: space-between;
  background: #ffffff;
  box-shadow: rgb(14 14 14 / 25%) 0px 0px 8px 0px;
  position: fixed;
  z-index: 100;
}


.nav--btn>button{
  background: #2081E2;
  color: #fff;
  font-size: 14px;
  padding: 10px 20px;
  border: none;
  outline: none;
  border-radius: 6px;
   margin: 10px 20px 10px 0;
 }


 .img--sect>img{
  width: 367px;
  height: 60px;
  padding: 10px;
}



/* banner ==== */

.banner--section{
  background: url(https://theme.zdassets.com/theme_assets/10680073/c6e28229deb7e53544d30abfe704bb5762a576ef.png);
  background-position: center;
  background-size: cover;
  background-repeat:  no-repeat;
  width: 100vw;
  height: 300px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 67px;
  margin-bottom: 60px;
}

.search--input{
  width: 616px;
  height: 60px;
  overflow: hidden;
  border-radius: 6px;
  position: relative;
}

.search--input>input{
  width: 100%;
  height: 100%;
  border: none;
  outline: none;
  padding: 1px 20px 1px 40px ;
  padding-left: 40px;
  color: #353840;
  font-size: 18px;
  font-weight: 100;
}   

.search--icon{
  position: absolute;
  left: 10px;
  top: 50%;
  transform: translateY(-50%);
  z-index: 20;
  font-size: 16px;
  
}


/* list item */
.block--list{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  list-style: none;
}

.block--item{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background: #f3fbfd;
  margin: 0 15px 30px;
  padding: 20px 30px;
  border-radius: 6px;
  border: 1px solid #E5E8EB;
}

.block--item img{
  width: 100%;
  max-width: 120px;
  margin: 0 84px 10px;
}
.block-item-title{
  font-weight: 700;
  font-size: 18px;
  letter-spacing: .25px;
  margin: 0 auto;
  width: 100%;
  text-align: center;
  height: 30px;
  
}

.block--item:hover {
  box-shadow: rgb(14 14 14 / 25%) 0px 0px 8px 0px;
  transition: all 0.1s ease 0s;
  color: #04111D;
}

/* promoted articles */

.promoted--articles{
  width: 100vw;
  background: #f3fbfd;
  margin-top: 30px;
  padding: 40px;
}

.promoted--title{
  font-weight: 600;
  text-align: center;
  margin: 0 0 18px;
  max-width: 1400px;
  margin: 0 auto;
  padding: 0 5
}

.article-list{
  display: flex;
  flex-wrap: wrap;
  padding: 0 68px;
}

.article--list--item{
  width: auto;
  list-style: none;
  flex: 1 0 auto;
  font-size: 18px;
  font-weight: 500;
  text-align: center;
  background: #fff;
  margin-bottom: 30px;
  margin-right: 35px;
  min-height: 150px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.article--list--item>a{
  display: inline;
  padding: 15px;
  background: transparent;
  text-decoration: none;
  
}

/* footer */

.footer--info{
  width: 100%;
  background-color: #1868b7;
  
}

.footer--details{
  display: flex;
  flex-direction: column;
  padding-top: 40px;
  color: #fff;
  flex-basis: 25%;
  align-self: flex-start;
  overflow-x: hidden;

}
.footer--details>h3{
  letter-spacing: .34px;
  margin: 8px 0;
  font-weight: 200;
}

.span--img{
  width: 44px;
  height: 44px;
}

.span--img>img{
  width: 100%;
}
.useful-link-row{
  align-self: flex-start;
  display: flex;
  flex: 1;
  align-items: center;
  justify-content: space-around;
  padding: 40px 0 0 72px;
}

.footer-col-1{
  color: #fff;
  align-self: flex-start;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
}
.footer-col-1>ul>li{
  list-style: none;
  margin: 12px 0 0;
  font-size: 14px;
}
.footer-col-1 h3{
  margin: 0 0 18px;
  font-weight: 200;
}

.footer{
  width: 80%;
  margin: 0 auto;
  margin-bottom: 20px;
  display: flex;
  align-items: center;
  padding-bottom: 40px;
  border-bottom: 1px solid #e5e8eb40;
}

.footer--row-2{
  width: 80%;
  color: #fff;
  margin: 20px auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.footer--row-2 {
  font-size: 14px;
}

.foot-span-col-2{
  margin-left: 20px;
}

ul li{
  list-style: none;
}
/* =====form */
.form--body{
  margin-top: 67px;
  margin-bottom: 20px;
  padding: 40px 65px 0;
  flex-grow: 1;
  min-height: 200px;
}

.form--body {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}
.sect--a{
  flex-basis: 35%;
}
.sect--b{
  flex-basis: 49%;
  padding: 0 15px;
}

.sect--a ul{
  width: 100%;
}
.complaint--opt{
  display: inline-block;
  margin: 10px 10px 10px 0;
  padding: 16px;
  border: 1px solid #2081e2;
  width: 100%;
  border-radius: 10px;
}
.radio{
  width: 100%;
  display: inline-block;
  position: relative;
  padding-left: 30px;
  cursor: pointer;
  font-size: 14px;
}

.radio input[type="radio" i] {
  display: none;
}

.radio span{
  height: 20px;
  width: 20px;
  border-radius: 50%;
  border: 3px solid #1868b7;
  display: block;
  position: absolute;
  left: 0;
  top: 2px;
}

.radio span::after{
  content: '';
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background-color: #1868b7;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0);
  transition: 300ms ease-in-out 0s;
}

.radio input[type="radio"]:checked ~ span::after{
  transform: translate(-50%, -50%) scale(1);
  
}
.val--label{
  margin-bottom: 5px;
  font-size: 14px;
  font-family: poppins-light;
}

.val--label span{
  color: #f00;
}

.sect--b form{
  width: 100%;
}
.sect--b .field-inputs-texts{
  width: 100%;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 4px;
}

.field-inputs-select{
  border-radius: 4px;
  display: block;
  width: 100%;
  border: 1px solid #ddd;
  outline: none;
  cursor: pointer;
  padding: 10px;
}

.field-inputs-select option {
  font-weight: normal;
  display: block;
  white-space: nowrap;
  min-height: 1.2em;
  padding: 10px;
}


.form--field--select{
  margin-top: 25px;
}

.form--field--inputs--others{
  margin-top: 25px;
}

.markdown{
  display: flex;
  flex-direction: column;
  align-items: center;
  
}

.markdown .mkd--tool-kit{
  width: 100%;
  height: 30px;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  border: 1px solid #ddd;
  border-bottom: none;
}
.markdown>textarea{
  padding: 10px;
  border: 1px solid #ddd;
  width: 100%;
  min-height: 150px;
  resize: vertical;
  outline: none;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
}

.markdown--tips{
  color: #636978;
  word-spacing: 1.5px;
  margin: 5px 0;
  font-size: 12px;
  width: 100%;
}

.form--field--inputs--others.file input[type="file"]{
  display: none;
}
.val--label--files{
  color: #636978;
  display: block;
  border: 1px solid #ddd;
  text-align: center;
  font-size: 13px;
  font-weight: 100;
  padding: 10px;
  border-radius: 4px;
}

.form--btn{
  margin-top: 40px;
  padding: 30px 0 0;
}

.form--btn>button{
  width: 195px;
  height: 45px;
  background: #2081E2;
  color: #fff;
  font-size: 14px;
  font-weight: 300;
  padding: 10px 30px;
  border: none;
  outline: none;
  border-radius: 6px;
  margin: 0;
}

.val--label--files{
  width: 100%;
  background: transparent;
  z-index: 1;
}

/*  responsive */

@media (max-width : 780px) {
  
}